
  
  table#table1 {
    border: 5px solid #606060;
    padding: 0.5rem;
    border-spacing:0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(164, 167, 167);

    
  }
  
  table#table2 {
    border: 1px solid #606060;
    padding: 0.5rem;
    border-spacing:0px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    
  }
  
  
  p{
    text-align: justify;
    text-indent: 50px;
    padding: 0.5rem;
  }
  
  th{
    background-color: #aaaaaa;
  }

  td {
    
    border: 1px;  }
  
  h2, h3 {
    padding: 0.5rem;
  }
  
  a {
    color: black;
  }
  
  body {
    font-size: large;
    background-color: honeydew;
  }

  footer {
    background-color:lemonchiffon;
  }