table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: red
    }
     thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
    }
     tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit